/*Esto es el reset inicial*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: "EB Garamond", "Baskervville", "Bodoni Moda";
    background-color: #F4F3F1;
    }
/*Aquí damos formato al modal de bienvenida*/
#modalBienvenida {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 5;
}
#modaleBoxB {
    width: 900px;
    height: 500px;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
    padding: 50px;
    text-align: center;
    border-radius: 25px;
}
#modaleBoxB>h1 {
    font-size: 5rem;
   font-weight: normal;
   margin-bottom: 100px; 
}
#modaleBoxB>button {
    font-size: 3rem;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: black;
    color: white;
}
#modaleBoxB>button:hover {
    color: black;
    background-color: #EDAAB3;
}
/*Aquí empieza el encabezado*/
#encabezado {
	height: 1000px;
	width: 100%;
    overflow: hidden;
/*background-image: linear-gradient(rgba(255, 150, 150, 0.1), rgba(255, 150, 150, 0.1)), url(../Media/hero2.jpg);*/
background-image: url(../Media/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    }
nav {
    width: 100%;
    height: 100px;
 background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
    font-size: 2rem;
/*    overflow: hidden;*/
    z-index: 1;  
    top: 0;
    transition-property: top, height, font-size;
    transition-duration: 0.75s;
}
#menu {
    list-style: none;
    float: right;
    margin-right: 155px;
    overflow: hidden;
    line-height: 150px;
    transition-property: line-height;
    transition-duration: 0.75s;
}
.elementoMenu {
    float: left;
    margin: 0px 25px;
}  
 .elementoMenu > a {
    transition-property: color;
    transition-duration: 1s; 
 }
 .elementoMenu > a:hover {
    color: hotpink;
 }
 /*Aquí empieza el submenu*/
#submenu {
    width: auto;
    height: 150px;
    list-style: none;
    position: absolute;
    top: 100px;
    z-index: 1;
    display: none;
    background-color: #F7CECC;
}
.elemSubmenu {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.elemSubmenu >a:hover {
    color: hotpink;
    transition-property: color;
    transition-duration: 1s;
}
/*esta regla permite desplegar el submenu*/
.elementoMenu:hover #submenu {
    display: block;
}
#tituloEncabezado {
	font-size: 8rem;
    font-weight: bold;
/*    background-color: white;*/
	text-align: center;
	width: 50%;
    height: 20%;
	overflow: hidden;
    margin-left: 800px;
    margin-top: 250px;
    animation-name:fadein;
    animation-duration: 3s;
}
#subtituloEncabezado {
	font-size: 2.5rem;
    font-weight: bold;
/*	background-color: white;*/
	text-align: center;
	width: 33%;
    height: 10%;
	top: 318px;
    margin-left: 1200px;
    opacity: 0;
    animation-name:fadeinSub;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
#botonReserva {
    width: 373px;
    height: 84px;
    background-color: #F7CECC;
    font-size: 3rem;
    font-weight: normal;
    padding: 5px;
    margin-left: 1350px;
    cursor: pointer;
    border-radius: 15px;
    border-color: whitesmoke;
     
}
#botonReserva:hover {
    transition: transform 0.3s ease-in;
}
a {
    color: black;
    text-decoration: none;
}
@keyframes fadein {
    0% {opacity: 0; margin-top: 320px; }
    50% {opacity: 1; margin-top: 320px;}
    100% {opacity: 1; margin-top: 250px;}
}
@keyframes fadeinSub {
    0% {opacity: 0; }
    50% {opacity: 1; }
    100% {opacity: 1; }
}
/*Aquí empieza filosofia*/
#logo {
    width: 190px;
    height: 144px;
/*    background-color: lightgrey;*/
    float: left;
    margin-left: 129px;
    margin-top: 110px;
} 
#filosofia {
	width: 100%;
	height: 735px;
	background-color: #F4F3F1;
	overflow: hidden;
	display: flex;
	top: 141px;
}
.contenidoFilo {       
    width: 100%;
    margin-top: 141px;
    overflow: hidden;
}
.tituloSeccion {
	font-size: 6rem;
    text-align: left;           
    margin-left: 165px;
    margin-top: 141px;
}
#textoFilo {         
    max-width: 80%;
    margin-left: 150px; 
    text-align: center;          
}
#textoFilo p {
	font-size: 2rem;
}
#videoFilo {
/*    background: radial-gradient(circle, #D5C0A5, #F2C0C1);*/
    margin-top: 88px;
    width: 470px;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;   
/*    border: solid;  */
    object-fit: cover;
    border: 10px solid black;
    border-radius: 10px;
}
/*Aquí empieza los servicios*/
 #servicios {
    padding: 100px 0 30px;
    overflow: hidden;
}
#contenedorFotosServicios {
    display: flex;
    justify-content: center;
    gap: 53px;
    width: 80%;
    margin: auto;
    height: 374px;
    overflow: hidden;
}
.fotoTrat {
    background-color: #D9C8B0; 
    width: 363px;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}
.fotoTrat img {
    width: 100%;
    height: auto;
    transition-property: transform;
    transition-duration: 0.5s;
}
.fotoTrat img:hover {
    transform: scale(1.2,1.2);
    box-shadow: 20px 0px 20px 0px white;
}
.contenedorServicios {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center; 
}
.contenedorServicios h2 {
    font-size: 2.5rem;
}
.contenedorServicios p {
    font-size: 1.25rem;
}
.tituloServicios {
    margin-top: 47px;
    font-size: 2rem;
}
.descripcion {
    font-size: 1.25rem;
    width: 279px;
    height: 117px;
    margin-left: 45px;
    margin-top: 37px;
}
#contenedorEtiquetaServicios {
    display: flex;
    justify-content: center;
    gap: 53px;
    margin-top: 40px;
    width: 80%;
    margin: auto;
    height: 374px;
    overflow: hidden;
}
.tarjetaServicio {
    background-color: #D5C0A5;
    width: 363px;
    height: 374px;
    text-align: center;
    height: 363px;
}
.etiquetaPestanas {
    background-color: white;
    width: 260px;
    height: 37px;
    display: inline-block;
    margin-top: 53px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
}
.contServicio {
    display: none;
    padding: 30px;
    background-color: #EFACB5;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    border-radius: 15px;
}
.pestanaActiva {
    color: lightsalmon;
}
/*Aquí empieza el Blog*/
#blog {
    width: 100%;
    height: 642px;
/*    background-color: #EFACB5;*/
    overflow: hidden; 
    display: flex;
    background-image: url(../Media/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedorBlog {
    width: 20%;
    margin-left: 435px;
    text-align: center;
    overflow: hidden; 
    text-align: center;
    align-items: center;
    justify-items: center;
    float: left;
}
.contenedorBlog h2 {
    width: 329px;
    height: 212px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
}
.contenedorBlog p { 
    margin-top: 27px;
    width: 327px;
    height: 81px;
    margin-right: 60px;
    font-size: 1.25rem;
    margin-bottom: 27px;
}
.botonBlog {
    background-color:lightsalmon;
    width: 182px;
    height: 48px;
    color: black; 
    font-size: 1.5rem; 
    margin-left: 80px;
    cursor: pointer;
    border-radius: 15px; 
}
.botonBlog:hover {
   transform: scale(1.1); 
}
#contenedorFotosBlog {
    width: 656px;
    height: 389px;
    margin-right: 311px;  
    margin-left: auto;  
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.imgBlog {
    width: 33.33%;
    height: 50%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgBlog img {
    width: 100%;
    height: auto;  
}
/*Aquí damos formato al modal del lightbox*/
#modalLightBoxB {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    top: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
}
#imageToShow {
    width: 1200px;
    height: 900px;
/*    background-color: lightgrey;*/
    box-sizing: border-box;
    top: 10%;
    left: 10%;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}    
.imageLightbox {
    width: 100%;
    height: auto;
}
.lbButtons {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
.lbButtons:hover {
    border-color: lightsalmon;
}
.lbbRight {
    right: 30px;
}
.lbbLeft {
    left: 30px;
}
.lbButtons i {
    font-size: 4rem;
    color: white; 
}
.lbButtons:hover i {
    color: lightsalmon;
}
/*Aquí empieza sección Equipo*/
#equipo {
    width: 100%;
    height: 751px;
    background-color: #F4F3F1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#contenidoTituloEquipo {
    width: 705px;
    height: 163px;
    text-align: center;
}
.tituloEquipo {
    margin-bottom: 45px;   
    font-size: 2rem;
}
#textoEquipo {
    margin: auto;
    width: 705px;
    height: 76px;
    font-size: 1.25rem;
}
#contenedorTerapeutas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 75px auto;
    width: 100%;
    overflow: hidden;
}
.terapeuta {
    background-color: white;
    padding: 20px;
    text-align: center;
    height: 364px;
    width: 362px;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.descripcionterapeuta {
    text-align: center;
    margin: 20px 25px;
    float: none;
}
.imgTerapeuta {
    width: 160px;
    height: 160px;
    margin: 10px auto;
/*    background-color: white;*/ 
    border-radius: 30%/20% ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgTerapeuta img {
    width: 100%;
    height: auto;  
}
.nombreTerapeuta {
    float: left;
    width: 100%;
    text-align: center;
    transition: color 0.3s;
}
.terapeuta:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px #EDAAB3;
    background-color: lightgrey;
}
.terapeuta:hover .nombreTerapeuta {
    color: black;
}
/*Aqui empieza Contacto - Reserva tu cita*/
#contacto {
    width: 100%;
    height: 1004px; 
/*    background-color: #A59684; */
    overflow:hidden;
    background-image: url(../Media/fondoContacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#tituloContacto {
    margin-top: 101px;
    font-size: 6rem;
    text-align: center;
    align-items: center;
}
#contenedorContacto {
    width: 1211px;
    height: 542px;
    background-color: ;
    margin-right: auto;
    margin-left: auto;
    margin-top: 119px;
    overflow: hidden;
}
#map {
    float: left;
    margin-top: 110px;
}
#reservaCita {
    width: 524px;
    height: 725px;
    background-color: ;
    float: right;
    padding-top: 25px;
    padding-left: 100px;
}
#tituloReservasCitas {
    font-size: 3rem;
    font-weight: bold;
}
input {
    display: block;
    height: 31px;
    margin-top: 26px;
    width: 419px;
    font-size: 1.30rem;
}
#cuentanos {
    height: 70px;
}
#botonEnviar {
    width: 172px;
    height: 43px;
    border-style: none;
    background-color: #D9C8B0;
    font-size: 1.5rem;
    margin-top: 83px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition-property: color, border-style, background-color;
    transition-duration: 1s; 
    text-align: center;
}
#botonEnviar:hover {
    border-style: solid;
    border-color: white;
    background-color: black;
    color: #D9C8B0;
    text-align: center;
}
/*Aquí damos formato al modal de bienvenida*/
#modalReserva {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    display: none;
    z-index: 5;
}
#modaleBoxR {
    width: 900px;
    height: 325px;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
    padding: 50px;
    text-align: center;
    border-radius: 25px;
}
#modaleBoxR>h1 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 20px; 
}
#modaleBoxR>p {
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 40px;
}
#modaleBoxR>button {
    font-size: 2.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: black;
    color: white;
}
#modaleBoxR>button:hover {
    color: black;
    background-color: #EDAAB3;
}
/*Aqui empieza el Footer*/
#pie {
    width: 100%;
    height: 137px;
    background-color: #D9C8B0;
    overflow: hidden;
    fill: ;
}
#logoPie{
    width: auto;
    height: 100%;
    float: left;
    margin-left: 45%; 
}
.facebook {
    font-size: 4rem;
    margin-left: 300px;
    margin-top: 35px;
}
.instagram {
    font-size: 4rem;
    margin-left: 75px;
    margin-top: 35px;
}
.twitter {
    font-size: 4rem;
    margin-left: 75px;
    margin-top: 35px; 
}
#pie i:hover {
    color: saddlebrown;
}
#pie i {
    transition-property: color;
    transition-duration: 1s;  
}